﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .dataTables_filter label input {
        top: 1px!important;
    }
    .dataTables_filter .fa-search {
        top: 8px!important;
    }
</style>


 <body>
        <div class="right-section">
            <div class="alert-box success" style="display:none;margin-top: 88px;">Mail sent successfully!</div>
            <div class="alert-box failure" style="display:none;margin-top: 88px;">The mail has not been sent.</div>
            <div class="row">
                <div class="col-md-12">
                   <a id="registerSubmit" href="/Admin/User/Add" class="w-25 btn btn-lg btn-primary float-right mt-2 btn-sm">Create</a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="report-head my-2" style="padding-top:9px;padding-bottom:9px;">Users Detail</h2>
                    <div class="box-shadow-white-bg bg-white data_table mb-3">
                        <div id="tab1" class="row mx-0 mb-4 bg-white box-shadow-white-bg">
                            <div class="col-md-12 pl-0 pr-0">
                                <table id="tblroutes" class="table dt-responsive table-striped table dash_tables" style="width:100%;">
                                    <thead style="width:100%;">
                                        <tr>
                                            <th>Route Id</th>
                                            <th>Route</th>
                                            <th>Daynumeric</th>
                                            <th>Day Of Week</th>
                                            
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </body>

    @section Scripts{
    <script src="~/js/Routes.js"> </script>

}