﻿@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Bootstrap CSS -->

<link href="~/css_new/bootstrap.css" rel="stylesheet" />
<link href="~/css_new/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="~/css_new/style.css" rel="stylesheet" />
<title>Spidrs</title>

<script type="text/javascript">
    window.onload = function () {
        var $recaptcha = document.querySelector('#g-recaptcha-response');
        if ($recaptcha) {
            $recaptcha.setAttribute("required", "required");
        }
    }
</script>
<style>
    body {
        overflow:visible;
    }
    #g-recaptcha-response {
        display: block !important;
        position: absolute;
        margin: -78px 0 0 0 !important;
        width: 302px !important;
        height: 76px !important;
        z-index: -999999;
        opacity: 0;
    }
    .cst-lbl-city{

        padding-left:15px;
    }
</style>
<body class="bg-light">
    <div class="container wrapper">
        <div class="cstm-bx2" style="background-color: #fff;">
            <div class="sdsd">
                <div class="row ">
                    <div class="col-lg-6 cstm-brd">
                        <div class="box-1">
                            <div class="login-box">
                                <div class="logo text-center">

                                    <img src="~/img_new/logo.jpg" class="img-fluid cstm-wth" />
                                </div>
                            </div>
                            <div class="tab-pn cstm-pn ">

                                <ul class="nav nav-tabs cst-lft-25" id="myTab">
                                    <li><a data-toggle="tab" href="#login1" id="lgnlogin" class="clr-1 active">LOGIN</a></li>

                                </ul>


                         
                            </div>
                            <br />

                            <div class="tab-content">
                                <div id="login1" class="tab-pane fade in active">
                                    <form id="account" method="post"  autocomplete="off">
                                        <div class="form-group cstm-fr fm-1">
                                          
                                            <div class="form-group my-0">
                                                <input asp-for="Input.Email" autocomplete="off" placeholder="" class="form-control input-element" Value="@ViewData["Email"]" />
                                                <label asp-for="Input.Email">Email address :</label>
                                                <span class="fa fa-envelope icn"></span>
                                                <span asp-validation-for="Input.Email" class="text-danger validation"></span>
                                                <span class="text-danger validation" id="lblEmailId"></span>
                                            </div>
                                            <div class="form-group mb-0">
                                                <input asp-for="Input.Password" autocomplete="off" placeholder="" class="form-control input-element" />
                                                <label asp-for="Input.Password" data-toggle="tooltip" data-placement="bottom" title="Password rules
                                                        At least one lowercase character (a-z)
                                                        At least one uppercase character (A-Z)
                                                        At least one digit (0-9)
                                                        At least one symbol (@@ ? . , ! _ - ~ $ % + =)
                                                        ">Password :</label>
                                                <span class="fa fa-lock icn1"></span>
                                                <span asp-validation-for="Input.Password" class="text-danger validation"></span>
                                                <span class="text-danger validation" id="lblPassword"></span>

                                            </div>
                                            <div class="form-group form-check">
                                                <div class="checkbox">
                                                    @*<label asp-for="Input.RememberMe"  style="display:none">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>*@
                                                    <span class="pull-right fg-pd "> <a id="forgot-password" asp-page="./ForgotPassword" class="fg-pd1"> Forgot Password? </a> </span>
                                                </div>
                                            </div>
                                        

                                            <button type="submit" class="btn btn-primary btn-sm">LOGIN </button>

                                        </div>
                                    </form>
                                </div>

                             
                            </div>
                        </div>
                        <p class="text-center pad-top footer-psize">
                            &copy; @DateTime.Now.Year SRC. INC All Right Reserved
                        </p>
                    </div>
                    <div class="col-lg-6 cstm-mb-bg" style="background-image: url(../../img_new/res_truck.jpg);background-size: cover; background-position: center;">

                    </div>
                </div>
            </div>

        </div>


    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <div>
        <script>
            $("#lgnlogin").click(function () {


                $("#loginalert").show();
                $("#loginalert").hide();
            })
            $("#guest").click(function () {

                $("#gustloginlbl").show();
                $("#loginalert").hide();

        })
        
        
            $(document).ready(function () {
               
               
               //var checkemail = $('#txtEmail').val();
               // if (checkemail != "") {
               //     $('.input-element').addClass('active');
               // }
                $("#txtEmail").change(function () {

                    $("#lblEmail").hide();

                });
                $("#txtcustomer").change(function () {

                    $("#lblcustomer").hide();

                });
                $("#txtservies").change(function () {

                    $("#lblservies").hide();

                });
                $("#State").change(function () {

                    $("#lblstate").hide();

                });
                $("#City").change(function () {

                    $("#lblcity").hide();

                });
                $("#txtzip").change(function () {

                    $("#lblzip").hide();

                });
               
                $('.input-element').on('keyup blur focus', function () {
                    var self = $(this);
                    if (self.val() != '') {
                        self.addClass('active');
                    } else {
                        self.removeClass('active');
                        self.addClass('active');
                    }
                });



                $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                    localStorage.setItem('activeTab', $(e.target).attr('href'));
                });
                var activeTab = localStorage.getItem('activeTab');
                if (activeTab) {
                    $('#myTab a[href="' + activeTab + '"]').tab('show');

                }
                
             
        });
 

      
      
        $("#Input_Email").change(function () {
            var emailId = $("#Input_Email").val();
            if (emailId != "") {
                $("#lblEmailId").hide();
            }
            else
            {
                $("#lblEmailId").show();
            }
        });

        $("#Input_Password").change(function () {
            var password = $("#Input_Password").val();
            if (password != "")
            {
                $("#lblPassword").hide();
            }
            else
            {
                $("#lblPassword").show();
            }
        });

        $('#account').on('submit', function (e) {

            var emailId = $("#Input_Email").val();
            var password = $("#Input_Password").val();

            if (emailId == "" && password == "") {
                e.preventDefault();
                $("#lblEmailId").html("<span>Please enter email address .</span>");
                $("#lblPassword").html("<span>Please enter password.</span>");
                $("#lblEmailId").show();
                $("#lblPassword").show();
                return false;
            }
           if (emailId == "") {
                e.preventDefault();
                $("#lblEmailId").show();
                return false;
            }
            if (password == "") {
                e.preventDefault();
                $("#lblPassword").show();
                return false;
            }

            if (grecaptcha.getResponse() == "") {
                e.preventDefault();
                $("#grecaptcha").html("<span>Please check reCaptcha to continue.</span>");
                return false;
            }
        });
            $('#accountguest').on('submit', function (e) {
               
                var email = $("#txtEmail").val();
                var customer = $("#txtcustomer").val();
                var servies = $("#txtservies").val();
                var zip = $("#txtzip").val();
                var state = $("#State").val();
                var city = $("#City").val();

                if (email == '' && customer == '' && servies == '' && zip == '' && state == 0 && city == 0) {
                    $("#lblEmail").html("<span>Please enter email address.</span>");
                    $("#lblcustomer").html("<span>Please enter customer account number .</span>");
                    $("#lblservies").html("<span>Please enter service address .</span>");
                    $("#lblstate").html("<span>Please select state  .</span>");
                    $("#lblcity").html("<span>Please enter city name  .</span>");
                    $("#lblzip").html("<span>Please enter billing zip  code .</span>");
                    return false;
                }
                if (email == "") {

                    $("#lblEmail").html("<span>Please enter email id.</span>");
                    return false;
                }

                if (customer == "") {
                    $("#lblcustomer").html("<span>Please enter customer account number .</span>");
                    return false;

                }


                if (servies == "") {
                    $("#lblservies").html("<span>Please enter servies address .</span>");
                    return false;

                }

                if ($('#State').val() ==0) {

                    $("#lblstate").html("<span>Please select state  .</span>");
                    return false;

                }
                if ($('#City').val() ==0 ) {
                    $("#lblcity").html("<span>Please selected city  .</span>");
                    return false;
                }

                if (zip == "") {
                    $("#lblzip").html("<span>Please enter billing zip  code .</span>");
                    return false;

                }



            });

            window.onload = function () {
                if ($('#Input_Email').val() != '') {
                    $('#Input_Email').addClass('active');
                } else {
                    $('#Input_Email').removeClass('active');
                }

            }

           //Numeric input validation
        $("#txtcustomer").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
                });

    //    if ($(".input-element").val().length > 0) {
    //        alert("no");

    //        $(".input-element").removeClass('active');
    //    } else {
    //        alert("yes");
    //        $(".input-element").addClass('active');
    //    }
    //}
        </script>

    </div>

</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
